/*Estilos de las partes generales de la web: header, body, nav y footer*/
header {
    background: #006d77;
    padding: 5pt;
    color: white;
    vertical-align: middle;
}

body {
    background: #006d77;
    font-family: Verdana;
}

nav {
    background: #83c5be;
    height: 35pt;
    padding: 5pt;
}

footer {
    background: #006d77;
    height: 100px;
    text-align: center;
    padding: 5px;
    color: white;
    margin:auto;
}

/*Estilos del index: botones y enlaces del navegador y botón de hacer pedido*/
div.boton {
    background: #83c5be;
    color: white;
    width: 20%;
    text-align: center;
    margin: auto;
    display: inline-block;
    font-weight: bold;
}

a:link, a:visited {
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

a.navegador:link, a.navegador:visited {
    background-color: #83c5be;
    color: white;
    padding: 14px;
    width: 80%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

a.navegador:hover, a.navegador:active {
    background-color: #e29578;
    font-weight: bold;
}

div.pedido {
    background: #e29578;
    color: white;
    width: 10%;
    text-align: center;
    margin: auto;
    /* display:inline-block; el atributo display se ve superpuesto por float */
    position: relative;
    /*ver el atributo position en https://www.w3schools.com/cssref/pr_class_position.asp*/
    bottom: 20px;
    right: 350px;
    float: right;
    font-weight: bold;
}

a.pedido:link, a.pedido:visited {
    background-color: #d11c1c;
    color: white;
    padding: 14px;
    width: 94%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

a.pedido:hover, a.pedido:active {
    background-color: #e29578;
    font-weight: bold;
}

iframe.platos {
    width: 100%;
    height: 600px;
    border: none;
}

/*Estilos de las páginas de menú y platos*/
.contenedor {
    background: #006d77;
    overflow: auto;
}

.contenedor p {
    background: #edf6f9;
    width: 95%;
    padding: 10pt;
    margin: 0 auto;
    text-align: center;
}

div.menu {
    background: white;
    width: 95%;
    padding: 10pt;
    text-align: center;
    margin: 0 auto;
}

.plato img {
    width: 250px;
    height: 135px;
}

/*Estilos de la página de menú*/
div.platos {
    background: white;
    height: 135pt;
    width: 23%;
    text-align: center;
    font-weight: bold;
    margin: auto;
    padding: 5pt;
    display: inline-block;
}

.platos img {
    width: 90%;
    height: 90%;
}

div.separador {
    background:white;
    width: 95%;
    height: 10pt;
}

/*Estilos de las páginas de los platos*/
table.plato {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

thead.plato {
    font-weight: bold;
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

/*Estilos de la página del formulario de pedidos*/
div.form {
    background: white;
    width: 75%;
    padding: 10pt;
    text-align: left;
    margin: 0 auto;
}

.form table {
    margin-left: auto;
    margin-right: auto;
    border-style: white;
}

/* Botón dropdown: pasas el cursor por encima y se despliega el menú*/
a.dropbtn {
    background-color: #83c5be;
    color: white;
    width: 100%;
    text-align: center;
    margin: auto;
    display: inline-block;
    font-weight: bold;
    padding: 14px;
    border: none;
    font-family: verdana;
}

/* Contenedor <div> necesario para meter dentro el contenido del dropdown*/
.dropdown {
    display: inline-block;
    color: white;
}

/* Contenido del dropdown, no sale hasta no pasar el cursor por encima*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #83c5be;
    max-width: 160px;
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: #e29578;
}

/* Para mostrar el menú al pasar el ratón por encima*/

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e29578;
}